{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Negotiation for Campaign: {{ campaign.name }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.campaign_id.label }} {{ form.campaign_id(class="form-control") }}
        </div>
        <div class="form-group mt-3">
            {{ form.message.label }} {{ form.message(class="form-control") }}
        </div>
        <div class="mt-4 text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
